

* {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

html {
    /* cursor: url(torch.png), auto; */
    background-color: #fff;
}

#yoshi {
    top: 500px;
    left: 150px;
}


#bigboo .main-body {
    position: relative;
    background-color: white;
    border: 4px solid black;
    border-radius: 400px;
    width: 200px;
    height: 200px;
    top: 25px;
    left: 32%;
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#bigboo .main-body::before {
    content: '';
    width: 150px;
    height: 150px;
    background-color: #fff;
    /* border: 1px solid black; */
    border-radius: 400px;
    position: absolute;
    top: 41px;
    left: 45px;
}

#bigboo .main-body:hover .left-arm {
    left: 84px;
    top: 57px;
    /* border-bottom: 4px solid black; */
    border-top: 5px solid black;
    /* border-left: 4px solid black; */
    border-right: 4px solid black;
    transform: rotate(-116deg);
    border-radius: 9px;
}

#bigboo .main-body:hover .right-arm {
    left: 8px;
    top: 58px;
    /* border-bottom: 4px solid black; */
    border-top: 5px solid black;
    /* border-left: 4px solid black; */
    border-right: 4px solid black;
    transform: rotate(-324deg);
    border-radius: 9px;
    animation-name: armMoveRight;
    animation-duration: 200ms;
    
}

#bigboo .tail {
    position: absolute;
    content: '';
    background-color: white;
    border: 4px solid black;
    border-radius: 600px 300px 0px 0px;
    width: 181px;
    height: 88px;
    top: 106px;
    left: 41px;
    z-index: -1;
    transform: rotate(180deg);
}

#bigboo .eye {
    width: 20px;
    height: 28px;
    border-radius: 400px;
    background-color: black;
    animation-name: eyes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

#bigboo .left-eye {
    top: 55px;
    left: 32px;
}

#bigboo .left-eye:before {
    content: '';
    width: 28px;
    height: 6px;
    position: absolute;
    background-color: #000;
    box-shadow: 9px -1px 0px -1px #000;
    border-radius: 0px 200px 200px 0px;
    transform: rotate(16deg);
    top: -4px;
}

#bigboo .right-eye:before {
    content: '';
    width: 28px;
    height: 6px;
    position: absolute;
    background-color: #000;
    box-shadow: 9px -1px 0px -1px #000;
    border-radius: 0px 200px 200px 0px;
    transform: rotate(16deg);
    top: -4px;
}

#bigboo .right-eye {
    top: 55px;
    left: 80px;
}

#bigboo .mouth {
    width: 68px;
    height: 85px;
    background-color: black;
    border: 2px solid black;
    top: 48%;
    left: 15%;
    border-radius: 100px 200px;
    border-top-left-radius: 190px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
}

#bigboo .mouth:after {
    content: '';
    position: absolute;
    width: 68px;
    height: 30px;
    background-color: white;
    /* border: 2px solid black; */
    top: -7%;
    left: -3%;
    border-radius: 100px 100px 600px 607px;
    transform: rotate(-10deg);
    z-index: 2;
}

#bigboo .tongue {
    width: 51px;
    height: 67px;
    background-color: red;
    border: 2px solid red;
    border-radius: 626px;
    top: 10%;
    left: 23%;
    transform: rotate(-3deg);
}

#bigboo .teeth {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    top: 6px;
    left: 2px;
    transform: rotate(66deg);
    z-index: 2;
}

#bigboo .teeth:nth-child(2) {
    top: 4px;
    left: 47px;
    width: 20px;
    height: 20px;
    transform: rotate(18deg);
}

#bigboo .teeth:nth-child(3) {
    top: 8px;
    left: 18px;
    transform: rotate(34deg);
}

#bigboo .arm {
    background-color: #fff;
    /* border: 4px solid #000; */
    width: 44px;
    height: 33px;
}

#bigboo .left-arm {
    left: 142px;
    top: 92px;
    /* border-bottom: 4px solid black; */
    border-top: 5px solid black;
    /* border-left: 4px solid black; */
    border-right: 4px solid black;
    transform: rotate(-27deg);
    border-radius: 9px;
}

#bigboo .right-arm {
    left: -26px;
    top: 92px;
    /* border-bottom: 4px solid black; */
    border-top: 5px solid black;
    /* border-left: 4px solid black; */
    border-right: 4px solid black;
    transform: rotate(-124deg);
    border-radius: 9px;
}

/* @keyframes eyes {
    0% {
        opacity: 1;
        width: 20px;
        height: 28px;
    }
    50% {
        opacity: .9;
        width: 16px;
        height: 25px;
    }
    100%{
        opacity: 1;
        width: 20px;
        height: 28px;
    }
} */
/* 
@keyframes bob {
    0% {
       top: 25%;
    }
    50% {
        top: 30%;
    }
    100%{
        top: 25%;
    }
}

@keyframes armMoveRight {
    0% {
        left: -26px;
        top: 92px;
    }

    100%{
        left: 8px;
        top: 58px;
    }
} */


#yoshi .head {
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 200px;
    border: 4px solid #000;
}

#yoshi .nose {
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 200px;
    border: 4px solid #000;
    left: -82px;
    top: -37px;
    z-index: -1;
}

#yoshi .eye {
    background-color: green;
    width: 54px;
    height: 97px;
    border-radius: 200px 200px 200px 179px;
    transform: rotate(22deg);
    top: -66px;
    left: 76px;
    box-shadow: 0px -41px 0px #fff inset;
    border: 4px solid #000;
}

#yoshi .eye:after {
    content: '';
    box-shadow: 1px -37px 0px #000;
    width: 15px;
    height: 23px;
    position: absolute;
    border-radius: 200px;
    top: 91px;
    left: -3px;
    transform: rotate(-2deg);
}

#yoshi .backhead {
    width: 117px;
    height: 161px;
    background-color: green;
    border-radius: 200px;
    left: 63px;
    border: 4px solid #000;
    z-index: -1;
    top: -39px;
}

#yoshi .mouth {
    width: 126px;
    height: 83px;
    background-color: #fff;
    border-radius: 200px;
    top: 64px;
    left: -2px;
    border: 2px lightgreen solid;
}

#yoshi .lowermouth {
    width: 129px;
    height: 96px;
    background-color: #fff;
    border-radius: 200px;
    top: 84px;
    left: -37px;
    border: 4px #000 solid;
    /* border-bottom: none; */
    border-left: none;
    border-right: none;
    border-top: none;
}